<h1>Login</h1>

<form class="" action="/users/login" method="post">
  <input type="text" name="username" placeholder="Your Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>

<h1>Register</h1>

<form class="" action="/users/register" method="post">
  <input type="text" name="username" placeholder="Your Username">
  <input type="password" name="password" placeholder="Password">
  <input type="email" name="email" placeholder="Email">
  <input type="submit" value="Create Account">
</form>
