<h1>Login</h1>

<form class="" action="/users/login" method="post">
  <input type="text" name="username" placeholder="Your Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Login">
</form>

<button id="registerbtn" name="button">Register</button>

<div id="register">
<h1>Register</h1>

<form class="" action="/users/register" method="post">
  <input type="text" name="username" placeholder="Your Username">
  <input type="password" name="password" placeholder="Password">
  <input type="email" name="email" placeholder="Email">
  <input type="submit" value="Create Account">
</form>
</div>

<script type="text/javascript">
  $("#username").hide();
  $("#register").hide();
  $("#registerbtn").click(function() {
  $("#register").show();
});
</script>
