<div class='search-box'>
  <div class='slide-reel'>
    <ul class='slides'>
      <li class='slide'><img src='http://www.afjonline.com/images/hero1.jpg'></li>
      <li class='slide'><img src='http://dreamatico.com/data_images/food/food-5.jpg'></li>
      <li class='slide'><img src='https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg'></li>
    </ul>
    <div class='layer'></div>
  </div>
  <div class='container'>
    <div class='search-bar'>
      <form action='POST' method=''>
        <div class='input-group input-lg'>
          <input id="autocomplete" name="search_query" placeholder="Start Typing a Location" class="form-control input-lg" type="text"></input>
          <div class='input-group-btn'>
            <button id='search' type='button' class='btn btn-primary input-lg'>Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class='entries'>
  <div class='container' id='venue-list'>
  </div>
</div>
