<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='../javascripts/jquery.js'></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz0IVOUlwIaZdq5zsKUaNqkEBjdDCqqQc&libraries=places"></script>
    <script type="text/javascript" src='/javascripts/underscore.js'></script>
    <script type="text/javascript" src='/javascripts/backbone.js'></script>
    <script type="text/javascript" src="../javascripts/app.js"></script>
  </head>
  <body>
    <header>
      <div class='container'>
        <div class='logo-container pull-left'>
          <h1><a href="/">The Specialist</a></h1>
        </div>
        <div class='button-container pull-right'>
          <button type="button" class="btn btn-primary">
            {{#if user}}
            <a href="/submit">Add Special</a>
            {{else}}
            <a href="/users/login">Add Special</a>
            {{/if}}
          </button>
          {{#if user}}
          <button type="button" class="btn btn-primary">
            <a href="/users/profile">Past Posts</a>
          </button>
          {{/if}}
          <button type="button" class="btn btn-primary">
            {{#if user}}
            <a href="/users/logout">Sign Out</a>
            {{else}}
            <a href="/users/login">Sign In</a>
            {{/if}}
          </button>
        </div>
      </div>
    </header>
      {{{body}}}

    <script type="text/template" id="venue-template">
      <div class='row'>
        <div class='venue'>
          <div class='venue-header'>
            <div class='venue-title'>
              <%= Name %>
            </div>
            <div class='venue-address'>
              <%= Address %>
            </div>
            <div class='venue-phonenumber'>
              <%= PhoneNumber %>
            </div>
          </div>
          <div class='venue-footer'>
            <div class='venue-photo'>
              <img src=<%= Photo %> />
            </div>
            <div class='special-container'>
              <%= children %>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type='text/template' id='special-template'>
      <div class='special' <% if (verifications > 0) { %> <%= "style='background-color: rgb(65, 201, 67);'"%> <% } %>>
        <div class='special-date'>
          <%= Date %>
        </div>
        <div class='special-description'>
          <%= Description %>
        </div>
        <div class='special-verify'>
          <div class='special-vote' data-id=<%= _id %>>
            <div class='vote-box'>
              <div class='votes'>
                Verifications: <%= verifications %>
              </div>
            </div>
            <i class="fa fa-thumbs-up special-vote-icon"></i>
          </div>
        </div>
      </div>
    </script>
  </body>
</html>
