<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz0IVOUlwIaZdq5zsKUaNqkEBjdDCqqQc&libraries=places"></script>
    <script type="text/javascript" src='/javascripts/underscore.js'></script>
    <script type="text/javascript" src='/javascripts/backbone.js'></script>
  </head>
  <body>
    <header>
      <div class='container'>
        <div class='logo-container pull-left'>
          <h1>
            The Specialist
          </h1>
        </div>
        <div class='button-container pull-right'>
          <button type="button" class="btn btn-primary">
            {{#if user}}
            <a href="/submit">Add Special</a>
            {{else}}
            <a href="/users/login">Add Special</a>
            {{/if}}
          </button>
          {{#if user}}
          <button type="button" class="btn btn-primary">
            <a href="/users/profile">Past Posts</a>
          </button>
          {{/if}}
          <button type="button" class="btn btn-primary">
            {{#if user}}
            <a href="/users/logout">Sign Out</a>
            {{else}}
            <a href="/users/login">Sign In</a>
            {{/if}}
          </button>
        </div>
      </div>
    </header>
      {{{body}}}
  </body>
</html>
