<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/javascripts/jquery.js'></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz0IVOUlwIaZdq5zsKUaNqkEBjdDCqqQc&libraries=places"></script>
    <script type="text/javascript" src='/javascripts/underscore.js'></script>
    <script type="text/javascript" src='/javascripts/backbone.js'></script>
  </head>
  <body>
    <header>
      <div class='container'>
        <div class='logo-container pull-left'>
          <h1>
            The Specialist
          </h1>
        </div>
        <div class='button-container pull-right'>
          <button type="button" class="btn btn-primary">Add Special</button>
          <button type="button" class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </header>
      {{{body}}}
    </div>
  </body>
</html>
