<div class='search-box'>
  <div class='slide-reel'>
    <ul class='slides'>
      <li class='slide'><img src='http://www.afjonline.com/images/hero1.jpg'></li>
      <li class='slide'><img src='http://dreamatico.com/data_images/food/food-5.jpg'></li>
      <li class='slide'><img src='https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg'></li>
    </ul>
    <div class='layer'></div>
  </div>
  <div class='container'>
    <div class='search-bar'>
      <form action='POST' method=''>
        <div class='input-group input-lg'>
          <input type='text' class='form-control input-lg' id='search-entry'>
          <div class='input-group-btn'>
            <button type='button' class='btn btn-primary input-lg'>Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="profile-header">
  <h1>Hey {{user.username}}!</h1>
  <h3>Keep on being special!</h3>
</div>

{{{body}}}

<div class='entries'>
  <div class='container' id="profile-entries">


  </div>
</div>
