<script type="text/javascript" src='../javascripts/jquery.js'></script>
<script type="text/javascript" src="../javascripts/app.js"></script>

<div class='container' id="submit_container">




    <div class="form_background">

        <!-- <div id="submit_form"> -->

          <form class="form_submit">

            <h2 class="submit_form_heading" id="submit_heading">Add a Special</h2>
            <!-- <label for="venue" class="sr-only">Venue</label> -->
            <input class="form-control" id="autocomplete" name="venue" placeholder="Start Typing a Location"  type="text" required autofocus></input>
            <label for="special" class="sr-only">Special</label>
            <input type="textarea" name="special" id="special_description" placeholder="What's the Special?" value="">
            <input type="hidden" id="username" value="{{username}}">
            <button class="btn btn-lg btn-block btn-primary" type="button" id="submitSpecial" name="button">Publish Special</button>

          </form>
<!--
        </div> -->

    </div>

</div>




<script type="text/javascript">
  $("#username").hide();
</script>
