<script type="text/javascript" src='../javascripts/jquery.js'></script>
<script type="text/javascript" src="../javascripts/app.js"></script>


<input id="autocomplete" name="venue" placeholder="Start Typing a Location" class="form-control" type="text"></input>

<input type="textarea" name="special" id="special_description" value="">

<button type="button" id="submitSpecial" name="button"></button>
